.navbar-brand {
  margin-top: 2px;
}

.navbar-brand > img {
  margin-right: .5rem !important;
  margin-top: -2px;
}

/* fix hidden anchor point from hash link navigation */
h1,h2,h3.h4 {
  scroll-margin-top: 46px;
}

.extra-bold {
  font-weight: 800;
}

form label {
  display: block;
}

form label {
  display: block;
}

form input, textarea {
  display: block;
  width: 100%
}